.div{
    display: flex;
    justify-content: center;
    background-color: #4562b1;
    border-radius: 15px;
}
#clashlogo{
    width: 300px;
    margin-left: 900px;
    height: auto;
}
.primeira{
    background-color: #4562b1;
    width: 100%;
    height: 650px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 30px;
}
.segunda{
    background-color: #4562b1;
    width: 100%;
    height: 700px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 30px;
}
.terceira{
    background-color: #4562b1;
    width: 100%;
    height: 200px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 30px;
}
body {
    background-image: url("../FOTOS/image6.png");
    background-color: lightskyblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.amarelo{
    color: rgb(255, 208, 0);
}
.titulos{
    color: rgb(255, 208, 0);
    padding: 20px;
}
input:hover, select:hover, textarea:hover{
    border-color: #FFD700;
}
label{
    display: block;
    margin: auto;
}
label{
    margin-left: 20px;
}
input{
    border: 2px solid rgb(75, 137, 218);
    background-color: rgb(96, 151, 233);
    width: 90%;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    color: white;
}
.d{
    height: 90px;
    width: 1665px;
}
.b{
    height: 45px;
    width: 100%;
    border: 2px solid white;
}   
select{
    border: 2px solid rgb(75, 137, 218);
    background-color: rgb(96, 151, 233);
    width: 1688px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    color:white;
}
textarea{
    border: 2px solid rgb(75, 137, 218);
    background-color: rgb(96, 151, 233);
    width: 90%;
    height: 10px;
    margin-left: 20px;
    border-radius: 5px;
    color:white;
    padding: 10px;
}
.c{
    height: 45px;
    width: 10%;
    background-color: rgb(255, 208, 0);
    color: black;
    font-size: 18px;
    font-family: Arial;
    border: 1px solid #ffbb00;
}
p{
    padding: 15px;
    margin-top: 1px;
}
.navegacao {
    background-color: #0a2a81;
    padding: 10px 0;
    text-align: center;
}

.navegacao .link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s;
}